### 编译结果
/target/
/out/
/build/

### 构建工具
.gradle/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.mvn/

### 子模块下的构建文件夹
*/build/
*/*/out/*/*/
*.settings
*.project
*.classpath
*/.gradle/
*/gradlew
*/gradlew.bat
*/gradle
*.class
*.zip